**
!Dockerfile
!mix.exs
!mix.lock
!package.json
!package-lock.json
!config/
!config/**
!lib/
!lib/**
!priv/
!priv/repo/
!priv/repo/**
!priv/static/
!priv/static/favicon.ico
!priv/static/robots.txt
!packages/
!packages/client/
!packages/client/package.json
!packages/client/tsconfig.json
!packages/client/src/
!packages/client/src/**
!examples/
!examples/collaboration/
!examples/collaboration/package.json
!examples/collaboration/**/
!examples/collaboration/**/*.ts
!examples/collaboration/**/*.tsx
!examples/collaboration/**/*.css
!examples/collaboration/components.json
!examples/collaboration/tsconfig.json
examples/collaboration/node_modules/
examples/collaboration/.next/
examples/collaboration/out/
examples/collaboration/test-results/

examples/collaboration/next-env.d.ts
