**
!Dockerfile
!mix.exs
!mix.lock
!package.json
!package-lock.json
!config/
!config/**
!lib/
!lib/**
!priv/
!priv/repo/
!priv/repo/**
!priv/static/
!priv/static/favicon.ico
!priv/static/robots.txt
!packages/
!packages/client/
!packages/client/package.json
!packages/client/src/
!packages/client/src/**
!examples/
!examples/collaboration/
!examples/collaboration/package.json
!examples/collaboration/*.html
!examples/collaboration/*.js
!examples/collaboration/*.css
